<html>
<head>
      #showHead ("Hello!")
      <style type="text/css">
      <!--
        .border { border: 1px dashed #000000; }
      -->
      </style>
</head>
<body #bodyAttributes ()>
<table width="100%" border="0" cellspacing="10" cellpadding="20">
<tr>
      <td colspan="2" class="border">$control.setTemplate("header.vm")</td>
</tr>
<tr>
      <td width="20%" class="border">$control.setTemplate("menu.vm")</td>
      <td class="border">$screen_placeholder</td>
</tr>
<tr>
      <td colspan="2" class="border">$control.setTemplate("bottom.vm")</td>
</tr>
</table>
</body>
</html>