<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>WebxController</servlet-name>
        <servlet-class>com.alibaba.webx.WebxControllerServlet</servlet-class>
        <init-param>
            <param-name>initAllServices</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <!--<servlet>-->
        <!--<servlet-name>HelloHessian</servlet-name>-->
        <!--<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>home-class</param-name>-->
            <!--<param-value>com.leo.test.hessian.HelloHessianImpl</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>home-api</param-name>-->
            <!--<param-value>com.leo.test.hessian.HelloHessian</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <servlet-mapping>
        <servlet-name>WebxController</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WebxController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
        <!--<servlet-name>HelloHessian</servlet-name>-->
        <!--<url-pattern>/HessianService</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>
